.DS_Store
.dart_tool/

.packages
.pub/
.settings/
.vscode/
.project
.classpath

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
ios/.symlinks

#api key files
**/example/android/app/src/main/res/values/strings.xml